body{
    background-color: whitesmoke;
    font-family: 'Markazi-text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
}

section{
    display: flex;
}

article{
    flex: 1;
}

/* Inside styles.css */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.column {
  flex: 1;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #eee;
}
nav a:hover {
  color: green;
  transition: color 0.3s ease-in-out;
}
nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #2E8B57;
}
.promo-banner {
    background-color: #cdeed8;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 10px;
}
